@import '../../sass';

.ScoreBoard {
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &--main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    user-select: none;

    @include tablet {
      gap: 60px;
    }
  }

  &--info-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &--username {
    font-size: 1.6rem;
    font-weight: 500;

    @include tablet {
      font-size: 2rem;
    }
  }

  &--points {
    font-size: 1.8rem;
  }

  &--turn-text {
    font-size: 1.8rem;
    margin: 0;
    letter-spacing: 0.5px;

    @include tablet {
      font-size: 2.2rem;
    }
  }
}
