$cell-size: 80px;
$mark-size: $cell-size * 0.9;

.TicTacToe {
  &--board {
    background-color: hsl(0, 00%, 25%);
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
    user-select: none;

    &.cross .TicTacToe--cell:not(.cross):not(.circle):hover {
      &::before,
      &::after {
        content: '';
        position: absolute;
        width: $mark-size * 0.15;
        height: $mark-size;
        background-color: hsl(0, 00%, 35%);
      }

      &::before {
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
      }
    }

    &.circle .TicTacToe--cell:not(.cross):not(.circle):hover {
      &::before,
      &::after {
        content: '';
        position: absolute;
        border-radius: 50%;
      }

      &::before {
        width: $mark-size;
        height: $mark-size;
        background-color: hsl(0, 00%, 35%);
      }
      &::after {
        width: $mark-size * 0.7;
        height: $mark-size * 0.7;
        background-color: hsl(0, 00%, 25%);
      }
    }
  }

  &--cell {
    cursor: pointer;
    position: relative;
    width: $cell-size;
    height: $cell-size;
    border: 1px solid hsl(0, 00%, 45%);
    display: flex;
    justify-content: center;
    align-items: center;

    &:first-child,
    &:nth-child(2),
    &:nth-child(3) {
      border-top: none;
    }

    &:nth-child(3n + 1) {
      border-left: none;
    }

    &:nth-child(3n + 3) {
      border-right: none;
    }

    &:last-child,
    &:nth-child(8),
    &:nth-child(7) {
      border-bottom: none;
    }

    &.cross,
    &.circle {
      cursor: not-allowed;
    }

    &.cross {
      &::before,
      &::after {
        content: '';
        position: absolute;
        width: $mark-size * 0.15;
        height: $mark-size;
        background-color: hsl(0, 00%, 90%);
      }

      &::before {
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
      }
    }

    &.circle {
      &::before,
      &::after {
        content: '';
        position: absolute;
        border-radius: 50%;
      }

      &::before {
        width: $mark-size;
        height: $mark-size;
        background-color: hsl(0, 00%, 90%);
      }
      &::after {
        width: $mark-size * 0.7;
        height: $mark-size * 0.7;
        background-color: hsl(0, 00%, 25%);
      }
    }
  }
}
