@import '../../sass';

.TicTacToe {
  &--board {
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
    user-select: none;
    background-color: var(--board-bg);

    &.cross .TicTacToe--cell:not(.cross):not(.circle):hover {
      &::before,
      &::after {
        content: '';
        position: absolute;
        width: calc(var(--mark-size) * 0.15);
        height: var(--mark-size);
        background-color: var(--mark-shadow-color);
      }

      &::before {
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
      }
    }

    &.circle .TicTacToe--cell:not(.cross):not(.circle):hover {
      &::before,
      &::after {
        content: '';
        position: absolute;
        border-radius: 50%;
      }

      &::before {
        width: var(--mark-size);
        height: var(--mark-size);
        background-color: var(--mark-shadow-color);
      }
      &::after {
        width: calc(var(--mark-size) * 0.7);
        height: calc(var(--mark-size) * 0.7);
        background-color: var(--board-bg);
      }
    }
  }

  &--cell {
    cursor: pointer;
    position: relative;
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid var(--board-border);
    background-color: var(--board-bg);
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &:first-child,
    &:nth-child(2),
    &:nth-child(3) {
      border-top: none;
    }

    &:nth-child(3n + 1) {
      border-left: none;
    }

    &:nth-child(3n + 3) {
      border-right: none;
    }

    &:last-child,
    &:nth-child(8),
    &:nth-child(7) {
      border-bottom: none;
    }

    &.cross,
    &.circle {
      cursor: not-allowed;
    }

    &.cross {
      &::before,
      &::after {
        content: '';
        position: absolute;
        width: calc(var(--mark-size) * 0.15);
        height: var(--mark-size);
        background-color: var(--text-color);
      }

      &::before {
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
      }
    }

    &.circle {
      &::before,
      &::after {
        content: '';
        position: absolute;
        border-radius: 50%;
      }

      &::before {
        width: var(--mark-size);
        height: var(--mark-size);
        background-color: var(--text-color);
      }
      &::after {
        width: calc(var(--mark-size) * 0.7);
        height: calc(var(--mark-size) * 0.7);
        background-color: var(--board-bg);
      }
    }
  }
}
