@import '../../sass';

.Icon,
.icon {
  width: 32px;
  height: 32px;

  @include only-small {
    width: 28px;
    height: 28px;
  }
}

.Icon--send,
.icon--send {
  @include only-small {
    width: 20px;
    height: 20px;
  }
}

.icon--send {
  transform: rotate(40deg) translateX(-10%) translateY(5%);
}
