@import '../../sass';

.RoomContainer {
  position: fixed;
  top: 1rem;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 8px;
  padding: 0 16px;

  &--info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }

  &--room-text {
    font-weight: 500;
  }

  &--room-id {
    letter-spacing: 2px;
    font-size: 1.1rem;
  }

  &--form {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
    height: min-content;

    &-container {
      flex-grow: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &--input {
    padding: 10px 16px;
    font-size: 0.9rem;
    border: none;
    border-radius: 8px;
    width: 160px;
    color: var(--color-text);
    background-color: var(--input-bg);

    @include only-small {
      font-size: 0.8rem;
      padding: 6px 12px;
      width: 120px;
    }

    &:hover {
      background-color: var(--input-hover-bg);
    }

    &::placeholder {
      color: var(--input-placeholder);
    }
  }

  &--submit {
    cursor: pointer;
    border: none;
    font-size: 0.9rem;
    padding: 10px 16px;
    background-color: var(--outer-button-bg);
    border-radius: 12px;
    color: var(--color-text);

    @include only-small {
      font-size: 0.8rem;
      padding: 8px 12px;
    }

    &:hover {
      background-color: var(--outer-button-hover-bg);
    }
  }

  &--room-error-message {
    font-size: 0.9rem;
    color: var(--error-color);

    br {
      display: none;
    }

    @include only-small {
      font-size: 0.75rem;
      br {
        display: block;
      }
    }
  }

  &--theme-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: none;
    border: none;
    color: var(--color-text);

    &:hover {
      opacity: 0.7;
    }

    @include only-small {
      display: none;
    }

    &-container {
      flex-grow: 1;
      display: flex;
      justify-content: center;
    }
  }
}
