@import '../../sass';

.Message {
  display: flex;
  justify-content: flex-start;

  &.same-user {
    justify-content: flex-end;
  }

  &--text-content {
    padding: 12px 20px;
    width: fit-content;
    max-width: 90%;
    background-color: var(--message-bg);
    color: var(--text-color);
    font-size: 1rem;
    border-radius: 8px;
    margin: 0;
    text-align: start;
    text-overflow: ellipsis;
    word-wrap: break-word;
    
    @include only-small {
      padding: 8px 14px;
      font-size: 0.9rem;
    }
    
    &.same-user {
      background-color: var(--user-message-bg);
      text-align: end;
    }
  }

  &--text-sender {
    font-weight: bold;
  }
}
