@import '../../sass';

.Message {
  display: flex;
  justify-content: flex-start;

  &.same-user {
    justify-content: flex-end;

    .Message--text-content {
      background-color: var(--user-message-bg);
      text-align: end;
    }
  }

  &.server {
    justify-content: center;

    .Message--text-content {
      width: 90%;
      text-align: center;
      padding: 6px;
      background-color: var(--container-bg);
      font-weight: 600;
    }
  }

  &--text-content {
    padding: 8px 16px;
    width: fit-content;
    max-width: 90%;
    background-color: var(--message-bg);
    color: var(--text-color);
    font-size: 1rem;
    border-radius: 8px;
    margin: 0;
    text-align: start;
    text-overflow: ellipsis;
    word-wrap: break-word;
    box-shadow: 2px 2px 4px var(--box-shadow);

    @include only-small {
      padding: 8px 14px;
      font-size: 0.9rem;
    }
  }

  &--text-sender {
    font-weight: 600;
  }
}
