@import '../../sass/';

.Game {
  &--main-container {
    position: relative;
    height: 90vh;
    display: flex;
    gap: 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include tablet {
      gap: 80px;
    }
  }
}
