@import '../../sass';

.LoginForm {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 36px 42px;
  gap: 32px;
  width: auto;
  max-width: 360px;
  background-color: var(--container-bg);

  @include only-small {
    width: 80%;
    padding: 20px 24px;
    gap: 20px;
    max-width: 260px;
  }

  &--title {
    font-size: 1.6rem;

    @include only-small {
      font-size: 1.2rem;
    }
  }

  &--input {
    padding: 8px 16px;
    color: var(--input-color);
    font-size: 1.2rem;
    background-color: var(--input-bg);
    border-radius: 8px;
    border: none;

    @include only-small {
      font-size: 1rem;
    }

    &:hover {
      background-color: var(--input-hover-bg);
    }

    &::placeholder {
      color: var(--input-placeholder);
    }
  }

  &--button {
    cursor: pointer;
    border: none;
    padding: 8px 0;
    background-color: var(--button-bg);
    border-radius: 12px;
    color: var(--text-color);
    padding: 16px 0px;
    font-size: 1.5rem;

    @include only-small {
      padding: 8px 12px;
      font-size: 1.2rem;
    }

    &:hover {
      background-color: var(--button-hover-bg);
    }
  }
}
