.ChatButton {
  position: fixed;
  bottom: 6vh;
  right: 6vw;
  border-radius: 50%;
  font-size: 1.5em;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  color: var(--text-color);
  background-color: var(--chat-button-bg);
  
  &:hover {
    background-color: var(--chat-button-hover-bg);
  }
}
