.ChatButton {
  position: fixed;
  bottom: 6vh;
  right: 6vw;
  border-radius: 50%;
  font-size: 1.5em;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  color: var(--text-color);
  background-color: var(--chat-button-bg);
  box-shadow: 4px 4px 8px 2px var(--box-shadow);
  
  &:hover {
    background-color: var(--chat-button-hover-bg);
  }
  
  &--new-messages-notification {
    z-index: 3;
    position: absolute;
    bottom: 65%;
    left: 65%;
    border-radius: 50%;
    font-size: 0.6em;
    height: 28px;
    width: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    background-color: var(--new-message-notification-bg);
    color: var(--text-color);
  }
}
